@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
}

/* /reset*/
/*@media (max-width:450px){
    .footer-container{
        max-width: 100%;

    }

}

@media (max-width:450px){

}*/
/* sobre nosotros*/
/*.contenido1{
    display: grid;
    grid-template-rows: repeat(1, 1fr);

    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
}

.foto1{
    @include flex (row, center, center);
    display: wrap;
    flex-wrap: wrap;
    width: 50vh;
}

.parrafo1, .parrafo2{
    font-size: 24px;
    margin: 20px 20px 0px 0px;
    padding-left: 30px;
    display: wrap;
    flex-wrap: wrap;

}
.parrafo2{
    font-size: 24px;
    margin: 20px 20px 0px 0px;
    padding-right: 30px;
}


*/
.back-color1 {
  /*background-color: rgb(239, 239, 220)*/
}

.back-color2 {
  /*background-color: beige;*/
}

/* /sobre nosotros*/
/*

.contenido1{
    display: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
    display: inline-block
}
.foto1{
    @include flex (row, center, center);
    display: wrap;
    flex-wrap: wrap;
    width: 50%;
}
.parrafo1, .parrafo2{
    font-size: 24px;
    margin: 20px 20px 0px 0px;
    padding-left: 30px;
    display: wrap;
    flex-wrap: wrap;
    width: 50%;
}


*/
/* Estilos para el contenedor principal */
.contenido1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  flex-wrap: wrap;
}

/* Estilos para el párrafo */
.parrafo1, .parrafo2 {
  flex: 1;
  font-size: 24px;
  margin: 20px 20px 0px 0px;
  padding-left: 30px;
}

/* Estilos para la foto */
.foto1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Estilos adicionales para mejorar el diseño en dispositivos pequeños */
@media (max-width: 768px) {
  .contenido1 {
    flex-direction: column;
    align-items: center;
  }
  .parrafo1, .parrafo2, .foto1 {
    width: 100%;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
  }
}
/* contactanos */
.form-container {
  flex-wrap: wrap;
  width: 480px;
  margin: auto;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-top: 80px;
  /*background-color: rgb(208, 208, 185);*/
  background-color: rgb(219, 91, 91);
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.p-contacto {
  text-align: center;
  font-size: 24px;
  padding-top: 24px;
}

.button:hover {
  font-size: 40px;
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
  }
}
.back-main {
  /* background-color: beige;*/
  min-height: 100vh;
}

.tittle {
  /*background-color: beige;*/
}

/* /contactanos */
/* acerca de los productos*/
.main-content {
  display: grid;
  border: 1px black;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 2fr);
}

.main-content p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.back-main-content1, .back-main-h1 {
  /*background-color: antiquewhite;*/
}

.back-main-content2, .back-main-h2 {
  /*background-color: beige;*/
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}

div h1 {
  text-align: center;
  /* background-color: rgb(235, 224, 205);*/
  margin: 0px;
  color: rgb(219, 91, 91);
}

div h2 {
  text-align: center;
  /*background-color: rgb(235, 224, 205);*/
  margin: 0px;
  padding-bottom: 8px;
  color: rgb(219, 91, 91);
}

/* /acerca de los productos*/
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
}
.card img {
  width: 100%;
}
.card h4 {
  text-align: center;
}
.card p {
  text-align: center;
}

.card-botton {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

/*
.tilt-prod{
    color: rgb(127, 127, 110);
}

.cardback-color1, .cardback-color3{
    background-color: rgb(235, 224, 205);
}

.cardback-color2{
    background-color: rgb(226, 217, 201);
}
*/
/* navbar */
.list-item {
  list-style: none;
}
.list-item a {
  text-decoration: none;
  color: black;
}

.nav-bar-container {
  /* ya se vera*/
}

.nav-bar-flex {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.hover:hover {
  color: rgb(16, 14, 14);
  text-decoration: underline;
}

li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li a img {
  width: 450px;
}

.navbar-color {
  background-color: rgb(219, 91, 91);
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 1200px;
  margin: auto;
  /*text-align: center;
  justify-content: center;*/
}

/* /navbar */
.slide img {
  height: 65vh;
}

/* footer */
footer {
  width: 100%;
  padding: 50px 0px;
  font-size: 12px;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*background-color: rgb(158, 140, 119);*/
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  background-color: rgb(219, 91, 91);
}

.box-footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box-footer .logo img {
  width: 70px;
}

.box-footer .texto-footer {
  max-width: 350px;
  margin-top: 20px;
}

.box-footer h2 {
  margin-bottom: 30px;
  color: black;
}

.box-footer a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

/* /footer */
/* inicio*/
.tittle-background h1 {
  margin-top: 10px;
}
.tittle-background h2 {
  margin-bottom: 10px;
}

.foto-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(235, 224, 205);*/
  padding-bottom: 25px;
  width: 100%;
  position: relative;
  height: auto;
  text-align: center;
  flex: wrap;
  align-items: center;
  justify-content: center;
}

/*
.texto-superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
*/
/*
.foto-secundaria{
    @include flex (row, center, space-around);
    flex-wrap: wrap;
    background-color: rgb(226, 217, 201);
    height: auto;
    padding: 25px 0px 5px 0px;
    gap: 20px;
    background-color: black;
    width: 100%;
}
.h2-ttitle{
    text-align: left;
    color: rgb(219, 91, 91);;
}
*/
.foto-secundaria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 40px;
  padding: 0px;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

@media (max-width: 550px) {
  .foto-secundaria img {
    width: 40vh;
  }
}
@media (max-width: 450px) {
  .foto-secundaria img {
    width: 100%;
    justify-content: left;
    align-items: start;
  }
}
.foto-ntres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 25px 0px 5px 0px;
  gap: 20px;
  position: relative;
  text-align: center;
}

.foto-ntres img {
  max-width: 100%;
  height: auto;
}

.texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* /inicio*/

/*# sourceMappingURL=srtles.css.map */
