
/* Estilos para el contenedor principal */
.contenido1 {
    display: flex;
    justify-content: center;
    width: 100%;
    
    flex-wrap: wrap;
  }
  
  /* Estilos para el párrafo */
  .parrafo1, .parrafo2 {
    flex: 1;
    font-size: 24px;
    margin: 20px 20px 0px 0px;
    padding-left: 30px;
  }
  
  
  /* Estilos para la foto */
  .foto1 {
    flex: 1;
    @include flex(row, center, center);
  }
  
  /* Estilos adicionales para mejorar el diseño en dispositivos pequeños */
  @media (max-width: 768px) {
    .contenido1 {
      flex-direction: column;
      align-items: center;
    }
    .parrafo1, .parrafo2, .foto1 {
      width: 100%;
      padding-left: 0;
      margin: 20px 0;
      text-align: center;
      font-size: 16px;
      
    }
  }

.foto1 img{
  width: 100%;
}

.foto2 img{
  width: 300px;
}