.card-container{
    @include flex (row, space-around, space-around);
    flex-wrap: wrap; 
}

.card{
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
        img{
            width: 100%;
        }
            h4{
                text-align: center;
            }
                p{
                    text-align: center;
                }
    
}

.card-botton{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}
.tilt-prod{
    color: rgb(127, 127, 110);
}

.cardback-color1, .cardback-color3{
    background-color: rgb(235, 224, 205);
}

.cardback-color2{
    background-color: rgb(226, 217, 201);
}
