/* inicio*/
.tittle-background{
    
    h1{
        margin-top: 10px; 
        margin-bottom: 0px;
    }
    h2{
        margin-bottom: 10px

    }
}


.foto-principal{
    @include flex (row, center, center); 
   /* background-color: rgb(235, 224, 205);*/
    padding-bottom: 5px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.foto-secundaria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 40px;
    padding: 0px;
    h2{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    img{
        height: 300px;
    }
        
}


.list-item{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}


@media (max-width:550px){
    .foto-secundaria img{
        width: 40vh;
    }
}
@media (max-width:450px){
    .foto-secundaria img{
        width: 100%;
        justify-content: left;
        align-items: start;
        
    }
}



.foto-ntres {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    height: auto;
    padding: 25px 0px 5px 0px;
    gap: 20px;
    position: relative;
    text-align: center;
    img {
        max-width: 100%; 
        height: auto;
    }

}

.texto-superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}

.C-h5{
    color: black;
}

.C-P{
    color: black;
}


/* /inicio*/