/* navbar */
.list-item{
    list-style: none;
    a{
        text-decoration: none;
        color: black  
    }
}

.nav-bar-flex{
    @include flex (row, end, end);
}

.hover:hover{
    color: map-get($colores, hover);
    text-decoration: underline;
    
}
li a{
    @include flex (column, center, center);
    img{
        width: 450px;        
    }
}
.navbar-color{
    background-color: map-get($colores, rojo-footer);
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 1200px;
    margin: auto;
}

.logo-navbar{
    width: 100%;
}

.logo-navbar{
    height: 50px;
    width: 100px;
    img{
        height: 50px;
    width: 100px;
    }
}


/* /navbar */
