/* acerca de los productos*/


.contenido1{
    display: flex;
    width: 1200px;
    margin: auto;
    text-align: center;
}
.parrafo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.foto-1 img{
    height: 400px;
    
}


h2{text-align: center;}

h1{text-align: center;}

@media(max-width:1200px){
    .contenido1{
        width: 100%;
    }
    .parrafo1{
        width: 100%;
        margin: auto;
        justify-content: center;
    }
}





















/* /acerca de los productos*/